@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#icons .fa-solid {
  font-size: 25px;
  padding: 20px;
  color: white;
}

.user {
  background-color: lightgreen;
  padding: 20px;
}

.user img {
  border-radius: 50%;
  border: 5px solid #fff;
}
