/* !Font  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.player {
  height: 100%;
  border: 2px solid black;
}

.player-btn {
  background-color: lightskyblue;
  padding: 2px 25px;
  border-radius: 5px;
}
